In [49]:
# ELECTRICITY COST DATA
import pandas as pd
# data day ahead: http://www.energyonline.com/Data/GenericData.aspx?DataId=23&ERCOT___Day-Ahead_Price
# data real time: http://www.energyonline.com/Data/GenericData.aspx?DataId=23&ERCOT___Day-Ahead_Price

hourly_dayahead = pd.read_csv("2019_ercot_day_ahead_price.csv")
hourly_realtime = pd.read_csv("2019_ercot_real_time_price.csv")
hourly_dayahead_realtime = pd.merge(hourly_dayahead, hourly_realtime, left_on=["zone", "Date"], right_on=["zone","Date"], how='inner', suffixes=("_dayahead", "_realtime"))
hourly_dayahead_realtime["Date"] = pd.to_datetime(hourly_dayahead_realtime["Date"])
solar_data = pd.read_csv("solar_profile_29_-95.csv", header=3)
solar_data['local_time'] = pd.to_datetime(solar_data['local_time'])
hourly_dayahead_realtime_solar = pd.merge(hourly_dayahead_realtime, solar_data, left_on="Date", right_on="local_time", how="left")

/var/folders/y8/n0cwg6hn0xv21zz309nl1hv40000gn/T/ipykernel_12618/420312303.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hourly_dayahead_realtime["Date"] = pd.to_datetime(hourly_dayahead_realtime["Date"])

In [ ]:
# EQUIPMENT CAPEX AND EFFICIENCY DATA

In [53]:
hourly_dayahead_realtime_solar[hourly_dayahead_realtime_solar['zone'] == 'LZ_HOUSTON'].head(40)
hourly_dayahead_realtime_solar.to_csv("hourly_dayahead_realtime_solar.csv")

In [42]:
solar_data.sort_values('local_time', ascending=True)

,time,local_time,electricity,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2019-01-01 00:00,2018-12-31 18:00,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01 01:00,2018-12-31 19:00,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01 02:00,2018-12-31 20:00,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01 03:00,2018-12-31 21:00,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01 04:00,2018-12-31 22:00,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2019-12-31 19:00,2019-12-31 13:00,0.743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8756,2019-12-31 20:00,2019-12-31 14:00,0.629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,2019-12-31 21:00,2019-12-31 15:00,0.443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8758,2019-12-31 22:00,2019-12-31 16:00,0.235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,2019-12-31 23:00,2019-12-31 17:00,0.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN